* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
	'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;

	background-color: #263238;
	height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
}

.btn-primary {
	padding: 6px 14px;

	background-color: #1565c0;

	border: 1px solid transparent;
	border-radius: 4px;

	font-family: inherit;
	font-size: 14px;
	color: white;
}

.btn-primary:hover {
	background-color: #104e93;
}

.btn-danger {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px 14px;

	background-color: #f44336;

	font-family: inherit;
	font-size: 14px;
	color: white;

	border: 1px solid transparent;
	border-radius: 4px;

	cursor: pointer;
}

.btn-danger:hover {
	background-color: #b9352b;
}

:root {
	--toastContainerTop: auto;
	--toastContainerRight: auto;
	--toastContainerBottom: 3rem;
	--toastContainerLeft: 3rem;
	--toastWidth: 20rem;
}

.toast-default {
	--toastBackground: #61758f;
	--toastBarBackground: #4a5d6e;
}

.toast-green {
	--toastBackground: #36B37E;
	--toastBarBackground: #2F855A;
}

.toast-yellow {
	--toastBackground: #FFAB00;
	--toastBarBackground: #b67b02;
}

.toast-red {
	--toastBackground: #CC525F;
	--toastBarBackground: #a6434e;
}



/* some scroll bar related css to make scroll in chat look nicer */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #657080;
	border-radius: 5px;
}
